* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: transparent radial-gradient(closest-side at 50% 50%, #0071BC 8%, #1B1464 100%) 0% 0% no-repeat padding-box;
  overflow: hidden;
}

.game-board-container {
  height: 100%;
  display: flex;
  background-image: url("/images/grid-submarines-8.png");
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center center;
}

header {
  border-radius: 30px;
  box-shadow: inset 0 4px 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 960px;
  padding: 4px;
  margin: 40px auto;
  background-image: url("/images/menu.png");
  background-size: contain;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img.logo {
  margin: 10px;
  width: 140px;
}
header .tools {
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 200px;
  border-radius: 36px;
  margin: 0 8px;
  display: flex;
  justify-content: space-between;
}
header .tools button {
  cursor: pointer;
  background-image: url("/images/play-again.png");
  background-repeat: no-repeat;
  background-position: center center;
  padding: 7px;
  background-color: transparent;
  border: none;
  background-size: contain;
  vertical-align: middle;
}

.game-board-inner {
  position: relative;
  top: -130px;
  margin: auto;
  padding: 32px 174px;
}
.game-board-inner .border {
  position: absolute;
  background-color: #9999;
  height: 40px;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
}

#gameBoard {
  filter: drop-shadow(32px 131px 28px rgba(0, 0, 0, 0.5));
  transform: perspective(500px) rotateX(55deg) rotateY(0) rotateZ(0);
  box-shadow: 24px 16px 64px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  transition: all 0.1s;
}
#gameBoard button {
  cursor: pointer;
  vertical-align: middle;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 50px;
  height: 50px;
  color: #fff;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.6);
}
#gameBoard button.yes {
  position: relative;
}
#gameBoard button.yes::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-image: url("/images/logo-icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
  transform: perspective(300px) rotateX(50deg) rotateY(0) rotateZ(0);
}
#gameBoard button:hover {
  background: rgba(255, 255, 255, 0.3);
}
#gameBoard .busmarine-not-found {
  background: #EE4D32;
  background: -webkit-linear-gradient(top left, #EE4D32, #F6FF3A);
  background: -moz-linear-gradient(top left, #EE4D32, #F6FF3A);
  background: linear-gradient(to bottom right, #EE4D32, #F6FF3A);
}
#gameBoard .busmarine-not-found:hover {
  background: #EE4D32;
  background: -webkit-linear-gradient(top left, #EE4D32, #F6FF3A);
  background: -moz-linear-gradient(top left, #EE4D32, #F6FF3A);
  background: linear-gradient(to bottom right, #EE4D32, #F6FF3A);
}
#gameBoard .busmarine-found {
  background: #0BC16D;
  background: -webkit-linear-gradient(top left, #0BC16D, #3AF4FF);
  background: -moz-linear-gradient(top left, #0BC16D, #3AF4FF);
  background: linear-gradient(to bottom right, #0BC16D, #3AF4FF);
}
#gameBoard .busmarine-found:hover {
  background: #0BC16D;
  background: -webkit-linear-gradient(top left, #0BC16D, #3AF4FF);
  background: -moz-linear-gradient(top left, #0BC16D, #3AF4FF);
  background: linear-gradient(to bottom right, #0BC16D, #3AF4FF);
}
#gameBoard.finish-the-game {
  transform: perspective(0) rotateX(0) rotateY(0) rotateZ(0);
  box-shadow: 24px 16px 64px 0 rgba(0, 0, 0, 0.2);
}
#gameBoard.finish-the-game button {
  border: none;
  background-color: #0071BC;
}
#gameBoard.finish-the-game button.busmarine-not-found, #gameBoard.finish-the-game button.busmarine-found {
  background: #0071BC;
}
#gameBoard.finish-the-game button::after {
  content: none;
}

.game-results {
  color: #fff;
}

.axis-x-container {
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  top: 68px;
  left: 110px;
  font-family: sans-serif;
  transform: perspective(280px) rotateX(35deg) rotateY(0) rotateZ(34deg);
}
.axis-x-container span {
  display: block;
  margin: 18px 0;
  transform: rotateZ(53deg) rotateY(64deg) skewY(24deg);
  font-size: 23px;
}

.axis-y-container {
  position: absolute;
  color: #fff;
  top: 145px;
  display: flex;
  justify-content: space-between;
  left: 0;
  right: 0;
  width: 324px;
  margin: 0 auto;
  font-size: 12px;
  font-family: sans-serif;
  display: none;
}

.win-pop {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: #fff;
  background-color: #0071BC;
  font-family: sans-serif;
  font-size: 24px;
  padding: 20px;
}
.win-pop + button {
  cursor: auto;
}

/*# sourceMappingURL=style.css.map */
